<nav class='navbar navbar-expand-sm navbar-dark sticky-top'>

  <div>

    <%= image_tag('Asset_4.png',
                   size: '75x75',
                   class: 'navbar-brand mb-0') %>
  </div>

  <button type="button" class="btn-sm navbar-toggler navbar-toggler-right"
          data-toggle="collapse" data-target="#myNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class='collapse navbar-collapse' id='myNavbar'>
    <ul class='navbar-nav ml-auto text-nowrap'>
      <li class='nav-item nav-link <%= 'active' if current_page?(root_path) %>'>
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>

</nav>
