
<p>
  <%= @greeting %>
</p>

<p>Thanks for taking the time to check out Plus Equals.</p>

<p>Don't hesitate to reach out if you have any questions. And know that
  we're not saving your emails address, so this is the only one you'll get from
  us (unless you request more).</p>

<p>—jim</p>
