<div class='container'>
  <div class='row'>
    <center>
      <div class='col' id='static'>
        <%= image_tag('Asset_6.png', id: 'static_logo') %>
      </div>
      <div class='row'>
        <div class='col-6 mx-auto'>
          <center>
            <br />
            <h4>Thanks for your interest. If you have any questions, feel free
              to reach out to <%= "#{ENV['PLUS_EQUALS']}" %>.</h4>
          </center>
        </div>
      </div>
    </center>
  </div>
</div>
