<div class='container'>
  <div class='row'>
    <center>
      <div class='col' id='static'>
        <%= image_tag('Asset_6.png', id: 'static_logo') %>
      </div>
      <div class='row'>
        <div class='col-6 mx-auto'>
          <center>
            <br />
            <h4>Sorry our site isn't exciting, but we're busy with client work.
            Come back soon for the full experience.</h4>
          </center>
        </div>
      </div>
    </center>
  </div>
</div>
