<div class='container'>
  <div class='row landing-row'>
    <h1>Dashboards#index</h1>
  </div>
  <div class='row landing-row'>
    <p>Find me in app/views/dashboards/index.html.erb</p>
  </div>
</div>
