/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 */
@import "bootstrap";

.container {
  border-bottom: 5%;
}

.navbar {
  background-color: #778899;
}

.jumbotron {
  padding: 3%;
  padding-bottom: 8%;
  margin-bottom: 0;
}

.jumbo-parallax {
  background-image: url('/pexel-code4.jpeg');
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
  height: 400px;
  // font-weight: bold;
  // opacity: 0.5;
}

.lead {
  padding: 5%;
}

.jumbo-p {
  padding: 0 5% 5% 5%;
}

.landing-row {
  margin-top: 3%;
  // border-top: 3%;
  // padding-top: 3%;
}

.carousel {
  max-height: 25%;
}

.img-circle {
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 10px;
}

// #who-we-are {
//   margin: 3%;
// }
.bg-gray {
  background-color: #DCDCDC;
}

// .card-holder {
//   margin-bottom: 5%;
//   background-color: #DCDCDC;
// }

.big-para {
  margin: 0 5% 3% 5%;
}

#card-holder {
  padding-bottom: 3%;
  padding-top: 3%;
}

.pad-top {
  padding-top: 2%;
}

.pad-bottom {
  padding-bottom: 2%;
}

.title {
  margin: 3%;
}

.f-block {
  padding: 3%;
}

.page-footer {
  background-color: #2F2F2F;
}

.white {
  color: white;
}

.center {
  text-align: center;
}

.main-logo {
  height: 50%;
  width: 50%;
}

.serv-icon {
  height: 100%;
  width: 25%;
}

.serv-head {
  margin: 5% 0 5% 0;
}

.para-head {
  font-size: 2em;
}

.above-all {
  padding: 0 5% 0 5%;
  margin-bottom: 5%;
}

.client_mla {
  margin: 2% 0 5% 0;
  position: relative;
  // margin-bottom: 5%;
}

.mla-img {
  background-image: url('MLA-Logo-tran.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hov-hidden {
  transition: opacity 1s;
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}

.client_dash {
  margin: 2% 0 5% 0;
  position: relative;
  // margin-bottom: 5%;
}

.dash-img {
  background-image: url('dash_logo.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.client_johnson {
  margin: 2% 0 5% 0;
  position: relative;
  // margin-bottom: 5%;
}

.johnson-img {
  background-image: url('johnson.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// #static {
//   height: 100%;
//   // margin-top: 30%;
// }

#static_logo {
  height: 100%;
  width: 75%;
  padding-top: 25%;
}
