<h4>Get our one-sheet by email by entering your address below.</h4>

<%= form_tag one_sheets_send_email_path do %>
  <%= email_field_tag :address, nil, placeholder: "Email address" %>
  <%= submit_tag "SEND ME AN EMAIL"%>
<% end %>
