<h1>OneSheets#send_email</h1>
<p>Find me in app/views/one_sheets/send_email.html.erb</p>

<h1>Reports#send_email</h1>
<p>Find me in app/views/reports/send_email.html.erb</p>
<br><h1><p>You sent an email to <%= params[:address] %>. </p></h1>
